/* Flash messages ------------------------------------------------------ */
@mixin flash_messages {
  #flash_notice, #flash_error, #flash_alert {
    @include border-radius(4px);
    border: solid 1px;
    padding: 0.7em;
  }

  #flash_notice {
    @include flash_message(#CFC);
  }

  #flash_error, #flash_alert {
    @include flash_message(#FCC);
  }
}

@mixin flash_message($color) {
  background-color: $color;
  border: {
    color: $color - #444;
  }
}

//http://www.jankoatwarpspeed.com/post/2008/05/22/CSS-Message-Boxes-for-different-message-types.aspx
.ui-mobile {
  #error_explanation, #flash_notice, #flash_error, #flash_alert {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
  }
  #error_explanation, #flash_error, #flash_alert {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('/images/error.png');
  }
  #flash_notice {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('/images/info.png');
  }

  &.portrait label.error, &.landscape label.error {
      color: red;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.4;
      margin-top: 0.5em;
      width: 100%;
      float: none;
  }

  &.landscape label.error {
      display: inline-block;
      margin-left: 22%;
  }

  &.portrait label.error {
      margin-left: 0;
      display: block;
  }

  em {
      color: red;
      font-weight: bold;
      padding-right: .25em;
  }
}

