@import "compass/css3";
@import "flash_messages";

dl.car-summary {
  border-bottom: 1px solid #999;
  dt {
    clear: left;
    float: left;
    width: 50%;
    margin: 0;
    padding: 5px;
    border-top: 1px solid #999;
    font-weight: bold;
  }

  dd {
    margin: 0 0 0 50%;
    padding: 5px;
    text-align: right;
    &.first {
      border-top: 1px solid #999;
    }
  }
}

.chart, .chart-navigation {
  text-align: center;
}

.ui-icon-jqmofuel-fuel-station {
  background-image: url('/images/icons/fuel-station.png');
}

// Footer
#cars .ui-icon {
  background: url('/images/icons/car.png') 50% 50% no-repeat;
  background-size: 18px 15px;
}
#refueling .ui-icon {
  background: url('/images/icons/fuel-station.png') 50% 50% no-repeat;
  background-size: 18px 18px;
}

#my-info .ui-icon {
  background:  url('/images/icons/user.png') 50% 50% no-repeat;
  background-size: 18px 18px;
}
// End Footer
