@import "compass/css3";
@import "compass/css3/border-radius";
@import "flash_messages";

dl.car-summary {
  border-bottom: 1px solid #999;
  dt {
    clear: left;
    float: left;
    width: 50%;
    margin: 0;
    padding: 5px;
    border-top: 1px solid #999;
    font-weight: bold;
  }

  dd {
    margin: 0 0 0 50%;
    padding: 5px;
    text-align: right;
    &.first {
      border-top: 1px solid #999;
    }
  }
}

.car-summary, .refueling-summary {
  li {
    &.numbers {
      text-align: right;
    }
    &.ui-li {
      padding: {
        right: 15px;
      }
      overflow: auto;
      .ui-li-aside {
        font-weight: normal;
        margin: 0;
        color: #385487;
        width: auto;
        padding: {
          bottom: 0em;
        }
        clear: right;
      }
      .fuel-details {
        padding-right: 40px;
      }
    }
    &.ui-btn-icon-right {
      padding-right: 0;
    }
  }
}

.chart, .chart-navigation {
  text-align: center;
}

.ui-icon-jqmofuel-fuel-station {
  background-image: url(image-path('icons/fuel-station.png'));
}

// Footer
#cars .ui-icon {
  background: url(image-path('icons/car.png')) 50% 50% no-repeat;
  background-size: 18px 15px;
}
#refueling .ui-icon {
  background: url(image-path('icons/fuel-station.png')) 50% 50% no-repeat;
  background-size: 18px 18px;
}

#my-info .ui-icon {
  background:  url(image-path('icons/user.png')) 50% 50% no-repeat;
  background-size: 18px 18px;
}
// End Footer
